---
title: Meet the Team
layout: india
permalink: /india-pd/team
call_to_action: Register Now for BJC India PD 2019!
call_to_action_link: https://bit.ly/bjcindia2019
header_background: india
---
<h3 class="text-uppercase text-center"> India Team </h3>

<div class="row grid-gallery">
    {% assign india = site.data.people | where_exp: "item", "item.teams contains 'india'" %}
    {% for profile in india %}
    <div class="col-md-4 col-sm-6 grid-item">
        {% include staff-card.html profile=profile %}
    </div>
    {% endfor %}
</div>
