---
layout: page
title: Announcements
---
{% capture section_content %}
<div class="text-center">
    <a class="twitter-timeline"
       href="https://twitter.com/CSPBJC"
       data-width="500"
       data-height="500"
       data-chrome="transparent nofooter">
        Tweets by CSPBJC
    </a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{% endcapture %}
{% include section.html %}

{% for post in site.posts %}

{% capture section_content %}
<h6 class="article-subheading">{{ post.date | date_to_string }}</h6>
<a href="{{ post.url | prepend: site.baseurl }}">
  <h3>{{ post.title | escape }}</h3>
</a>
<p>
  {{ post.excerpt }}
</p>
{% endcapture %}
{% include section.html %}

{% endfor %}