---
layout: page
title: AP CS Principles
---
{% capture section_content %}
<p>
    From <a href="https://advancesinap.collegeboard.org/stem/computer-science-principles">the College Board CSP site</a>:
</p>

<blockquote>
    <p>AP Computer Science Principles introduces students to the foundational
        concepts of computer science and challenges them to explore how computing and
        technology can impact the world. With a unique focus on creative problem
        solving and real-world applications, AP Computer Science Principles prepares
        students for college and career.</p>

    <p><strong>Computer Science: The New Literacy</strong></p>

    <p>Whether it's 3-D animation, engineering, music, app development, medicine,
        visual design, robotics, or political analysis, computer science is the engine
        that powers the technology, productivity, and innovation that drive the world.
        Computer science experience has become an imperative for today's students and
        the workforce of tomorrow.</p>

    <p>The AP Program designed AP Computer Science Principles with the goal of
        creating leaders in computer science fields and attracting and engaging those
        who are traditionally underrepresented with essential computing tools and
        multidisciplinary opportunities.</p>

    <p><strong>Rigorously Developed</strong></p>

    <p>In development since 2008, AP Computer Science Principles was created with
        significant support from the National Science Foundation. The College Board
        worked with more than 50 leading high school and higher education computer
        science educators who piloted the course at their institutions. This rigorous
        process of development and testing has yielded a course that not only reflects
        the latest scholarship in the field, but provides students with a relevant and
        engaging learning experience.</p>

    <p>Over 90 colleges and universities have stated their support for the course,
        with the majority anticipating they will award college credit for high exam
        scores.</p>
</blockquote>
{% endcapture %}
{% include section.html %}

{% capture section_content %}
<h3>College Board Document Links</h3>

<ul>
    <li><a
            href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap-computer-science-principles-curriculum-framework.pdf">Curriculum
        Framework</a></li>
    <li><a href="http://bjc.berkeley.edu/APCSP Course and Exam Description 11 16.pdf">Course and Exam Description</a></li>
    <li><a href="http://bjc.berkeley.edu/website/CSP_Curricular_Resource_Requirements.pdf">Curricular
        and Resource Requirements</a></li>
    <li><a
            href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/recruiting-students-ap-computer-science-principles.pdf">Recruitment
        Strategies</a> for underrepresented students
        <p>(Excerpt: "All students should have equitable access to this new course.
            Care should be taken to ensure that students taking the course are
            demographically representative of the school's population before confirming
            their enrollment. Therefore, we encourage you to create policies that promote
            and enable diversity in the course and to not create barriers that would
            discourage underrepresented groups from participating.")</p>
    <li><a href="https://apcommunity.collegeboard.org/web/csprinciples/">CSP
        teacher community</a> (login required)</li>
    <li>AP Exam documentation:
        <ul><li><a
                href="https://d1b10bmlvqabco.cloudfront.net/attach/h8yx482idav52y/glpfbo6tkTY/ii0wh3i3z7bp/Explore_Performance_Task_Nov2015.pdf">Explore
            task</a>
            <ul><li>... and <!-- <a
href="https://d1b10bmlvqabco.cloudfront.net/attach/h8yx482idav52y/glpfbo6tkTY/ii0wgl2kryql/Explore_Performance_Task_Rubric_Nov2015.pdf">
--> <a href="http://bjc.berkeley.edu/Explore_Performance_Task_Rubric_DRAFTPILOT_JUNE2016.pdf">Rubric</a></li></ul></li>
            <li><a
                    href="https://d1b10bmlvqabco.cloudfront.net/attach/h8yx482idav52y/glpfbo6tkTY/ii0whym8dnb/Create_Performance_Task_Nov2015.pdf">Create
                task</a>
                <ul><li>... and <!-- <a
href="https://d1b10bmlvqabco.cloudfront.net/attach/h8yx482idav52y/glpfbo6tkTY/ii0whlcl2dxv/Create_Performance_Task_Rubric_Nov2015.pdf">
--><a href="http://bjc.berkeley.edu/Create_Performance_Task_Rubric_DRAFTPILOT_JUNE2016.pdf">Rubric</a></li></ul></li>
            <li><a
                    href="https://apcommunity.collegeboard.org/documents/44665407/2cc07b15-80c9-4322-adf1-805b5a3ac400">pseudocode
                Reference Sheet</a></li>
        </ul>
    </li>
</ul>
{% endcapture %}
{% include section.html %}

{% capture section_content %}
<h3>College Board BJC Endorsement Documents</h3>
<ul>
    <li><a href="https://drive.google.com/file/d/0B1svvUUQcqe4OW41RkViRHNSaVk/view?usp=sharing">Overview of Curriculum</a></li>
    <li><a href="https://d1b10bmlvqabco.cloudfront.net/attach/in7o0y6h22k74p/i87h6ino25s1jp/inlu1lf1bdxo/BJC_Syllabus_Final_20160422_FinalRevision.pdf">Syllabus</a></li>
    <li><a href="https://drive.google.com/file/d/0B1svvUUQcqe4TkhGUTJMNmxtME0/view?usp=sharing">Outline of Units</a></li>
    <li><a href="https://drive.google.com/file/d/0B1svvUUQcqe4QWVtbEl3QThqSVU/view?usp=sharing">Mapping of Units to CSP Framework</a></li>
    <li><a href="https://drive.google.com/file/d/0B1svvUUQcqe4YUM2TVYzXy0wOTA/view?usp=sharing">Professional Development standards</a></li>
    <li><a href="http://bjc.berkeley.edu/BJC4NYC Teacher and Student Content Assessment-Form 1.pdf">sample content assessment, Form 1</a></li>
    <li><a href="http://bjc.berkeley.edu/BJC4NYC Teacher and Student Content Assessment-Form 2.pdf">sample content assessment, Form 2</a></li>
</ul>
{% endcapture %}
{% include section.html %}