---
layout: page
title: News
---
{% capture section_content %}
<a href="{{ site.baseurl }}/announcements" class="unstyled-link"><h2>Announcements</h2></a>

<ul class="list-unstyled articles-list">
    {% for post in site.posts limit: 5 %}
    <li>
        <a href="{{ post.url | prepend: site.baseurl }}" class="article-title">{{ post.title | escape }}</a>
        <div class="article-subheading">{{ post.date | date: "%Y-%m-%d" }}</div>
    </li>
    {% endfor %}
</ul>

<a href="{{ site.baseurl }}/announcements">More →</a>
{% endcapture %}
{% include section.html %}

{% capture section_content %}
<a href="{{ site.baseurl }}/research" class="unstyled-link"><h2>Research</h2></a>

<ul class="list-unstyled articles-list">
    {% for article in site.data.publications limit:5 %}
    <li>
        <a href="{{ site.baseurl }}/documents/{{ article.filename }}" target="_blank" class="article-title">{{ article.title }}</a>
        <div class="article-subheading">
            {{ article.authors }}. ({{ article.year }}).
            {% if article.external_link %}<a href="{{ article.external_link }}" target="_blank">{% endif %}
            {{ article.journal }}.
            {% if article.external_link %}</a>{% endif %}
        </div>
    </li>
    {% endfor %}
</ul>

<a href="{{ site.baseurl }}/research">More →</a>
{% endcapture %}
{% include section.html %}

{% capture section_content %}
<a href="{{ site.baseurl }}/press" class="unstyled-link"><h2>In the Press</h2></a>

<ul class="list-unstyled articles-list">
    {% for article in site.data.press-articles limit:5 %}
    <li>
        <a href="{{ article.url }}" target="_blank" class="article-title">{{ article.title }}</a>
        <div class="article-subheading">{{ article.source }}, {{ article.date | date: "%Y-%m-%d" }}</div>
    </li>
    {% endfor %}
</ul>

<a href="{{ site.baseurl }}/press">More →</a>
{% endcapture %}
{% include section.html %}
