---
layout: page
title: News
---
{% for post in site.posts %}
{% capture section_content %}
<a href="{{ post.url | prepend: site.baseurl }}">
  <h3>{{ post.title | escape }}</h3>
</a>
<p>
  {{ post.excerpt }}
</p>
{% endcapture %}
{% include section.html %}
{% endfor %}

{% capture section_content %}
<h3 class="text-center text-uppercase">Press Articles</h3>
<ul class="list-unstyled articles-list">
{% for article in site.data.press_articles %}
  <li>
    <h6>{{ article.source }}, {{ article.date | date_to_string }}</h6>
    <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
  </li>
{% endfor %}
</ul>
{% endcapture %}
{% include section.html %}