---
layout: page
title: Partners
header_background: class2
---

{% capture section_content %}
<div class="row partner-logos">
    {% for partner in site.data.partners %}
    <div class="col-md-3 col-sm-4 col-xs-6 vcenter">
        <a href="{{ partner.url }}" target="_blank">
            <img src="{{ site.baseurl }}/assets/img/partners/{{ partner.img }}" alt="{{ partner.name }}">
        </a>
    </div>
    {% endfor %}
    <div class="col-md-3 col-sm-4 col-xs-6 vcenter">
        <span class="lead">TeachCS.org</span>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 vcenter">
        <span class="lead">BJC Stars Corp</span>
    </div>
</div>
{% endcapture %}
{% include section.html %}
