---
layout: page
title: Press Articles
---
{% capture section_content %}
<div class="col-md-8 col-xs-12">
    <ul class="list-unstyled articles-list">
        {% for article in site.data.press_articles %}
        <li>
            <a href="{{ article.url }}" target="_blank" class="article-title">{{ article.title }}</a>
            <h6 class="article-subheading">{{ article.source }}, {{ article.date | date: "%Y-%m-%d" }}</h6>
        </li>
        {% endfor %}
    </ul>
</div>
{% endcapture %}
{% include section.html %}