---
layout: page
title: Professional Development
subtitle: Three-week Workshop for Teachers
workshop_description: This is a three-week workshop.  The middle week is face-to-face; during the first and last weeks, most of the work is done online, along with a computer-mediated virtual meeting once per week.
---
{% capture section_content %}
<div class="text-center">
    <p>
        <em>This page describes the three-week workshop model. In 2016 this model applies everywhere except New York City.
        <a href="{{ site.baseurl }}/professional-development-6-weeks">Click here for the six-week model.</a></em>
    </p>
</div>
{% endcapture %}
{% include section.html %}

{% capture section_content %}
<div class="row">
    <div class="col-xs-3 col-sm-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation">
                <a href="#about"><div class="hover-accent">About</div></a>
            </li>
            <li role="presentation">
                <a href="#eligibility"><div class="hover-accent">Eligibility</div></a>
            </li>
            <li role="presentation">
                <a href="#apply"><div class="hover-accent">Apply to BJC PD</div></a>
            </li>
            <li role="presentation">
                <a href="#workshop-resources"><div class="hover-accent">Workshop Resources</div></a>
            </li>
        </ul>
    </div>

    <div class="col-xs-9 col-sm-10">
        <a class="anchor" id="about"></a>
        <h3>About BJC and this Workshop</h3>

        <p>
            BJC, or The Beauty and Joy of Computing, is an AP Computer Science Principles curriculum that emphasizes the joy and
            complexity of creating visual computer programs and apps, balanced with critical reflection on both the potential
            benefits and harms of new computing technologies. The Beauty and Joy of Computing adheres to the College Board's new
            <a href="https://advancesinap.collegeboard.org/stem/computer-science-principles" target="_blank">
                AP Computer Science Principles
            </a>
            course requirements.
        </p>

        <p>
            BJC has a strong design and programming focus, using the visual programming language Snap<em>!</em> and a collaborative, exploratory approach where students work in teams to bring their own unique creations to life.
        </p>

        <p>
            BJC is culturally situated, presenting programming and computing ideas not in isolation, but in the context of how students interact with computers in their daily lives. In our readings and discussions, we critically explore how technology has changed the world for better, and for worse, enabling students to understand the potential benefits and harms of creating new things with computing. Student readings are taken mainly from the companion book Blown to Bits, which is available for free online download.
        </p>

        <p>
            BJC is designed to meet the requirements of the <a href="{{ site.baseurl }}/ap-cs-principles">College Board AP Computer Science Principles curriculum framework</a>. It was originally developed as a university breadth course at the University of California, Berkeley, and has been extensively revised for high school use at EDC (Education Development Center).
        </p>

        <p>
            This is a three-week workshop. The middle week is face-to-face; during the first and last weeks, most of the work is done online, along with a computer-mediated virtual meeting once per week. The materials needed for the workshop are all online, with links to them on this page.
        </p>

        <h3>Why choose BJC?</h3>

        <ul>
            <li>BJC teaches strong fundamental concepts of programming
                <ul>
                    <li>In BJC students use Snap!, an accessible but full-featured block-based programming language, to explore concepts ranging from loops and variables up through recursion and higher-order functions.</li>
                </ul>
            </li>
            <li>BJC focuses on collaboration
                <ul>
                    <li>In BJC, students are encouraged to work in small groups, using pair programming for projects, and collaborating online to answer each others' questions.</li>
                </ul>
            </li>
            <li>BJC assignments foster creativity &amp; design thinking
                <ul>
                    <li>BJC includes project-centric labs, where groups are encouraged to build and design their own games, applications, and more. See some examples here!</li>
                </ul>
            </li>
            <li>BJC situates computing in the real world
                <ul>
                    <li>BJC units explore how computing is used in real-world applications, from Google Search algorithms to Big Data to today's news.</li>
                </ul>
            </li>
            <li>BJC emphasizes that computing is for everyone, and is a matter of equity
                <ul>
                    <li>Computing is a vital skill in the 21st century; everyone needs to have input into new computing innovations. BJC emphasizes equity and engages students and teachers in discussing how we can promote it.</li>
                </ul>
            </li>
            <li>BJC is well-supported
                <ul>
                    <li>BJC teachers attend face-to-face professional development programs and have access to a wealth of online resources, including a repository of shared course materials, weekly group calls, and personalized support via edX SPOCs (small, personalized online courses that provide a management system for your BJC course)</li>
                </ul>
            </li>
        </ul>

        <p>For more information on how BJC compares to the general CS Principles framework, please see: <a href="http://bjc.edc.org/bjc-r/cur/teaching-guide/compare.html">http://bjc.edc.org/bjc-r/cur/teaching-guide/compare.html</a></p>

        <h3>Who is teaching BJC?</h3>

        <p>The Beauty and Joy of Computing is taught across the country, with over 250 teachers from 41 states applying to attend our teacher preparation workshops. Teachers are also using our curriculum in Korea, Jakarta, Nepal, Austria, New Zealand, the Philippines, and Germany.</p>

        <h3>How can I be part of BJC?</h3>

        <p>We offer a summer professional development workshop for teachers intending to teach BJC the following year. In this workshop, one week in the middle is held face-to-face; the other weeks consist of online lab materials, computer-mediated discussion sessions, and weekly videos from our project leads. Apply to attend our PD at <a href="http://bjc.link/16-bjc-pd">http://bjc.link/16-bjc-pd</a> or contact <a href="mailto:pd@bjc.berkeley.edu">pd@bjc.berkeley.edu</a> for more information!</p>

        <h3>How much does it cost?</h3>

        <p>The BJC Summer PD is offered for a $75 registration fee, and NO cost for public school teachers. Private school teachers must pay $1,000 for the course.</p>

        <h3>Where is BJC PD being offered?</h3>

        <ul>
            <li>Jun 13-17 in Berkeley, California</li>
            <li>Jun 20-24 in Gonzales, Louisiana</li>
            <li>Jul 11-15 in Torrance, California</li>
            <li>Jul 11-15 in Highland Heights, Kentucky</li>
            <li>Jul 11-15 in Boston, Massachusetts</li>
            <li>Jul 18-22 in Raleigh, North Carolina</li>
            <li>Jul 25-29 in Berkeley, California</li>
            <li>Jul 25-29 in Claremont, California (SoCal)</li>
            <li>Jul 25-29 in Union, New Jersey (NYC area)</li>
            <li>Jul 25-29 in Charleston, South Carolina</li>
            <li>Aug 1-5 in Fairfax, Virginia (DC area)</li>
            <li>Aug 1-5 in Philadelphia, Pennsylvania</li>
        </ul>

        <h3>Contact</h3>

        <p>If you have questions about the BJC CSP Research Project, please email us at <a href="mailto:contact@bjc.berkeley.edu">contact@bjc.berkeley.edu</a> and include your name, school name, and location.</p>
    </div>
</div>
{% endcapture %}
{% include section.html %}

{% capture section_content %}
<a class="anchor" id="eligibility"></a>
<h3>Eligibility</h3>

<ul>
    <li><strong>Certified high school teachers, college faculty, and supporters.</strong> The BJC CSP PD course is open to all certified high school teachers in the USA who successfully complete the application process. It is also open to others that support these teachers.</li>
    <li><strong>Teachers of all disciplines and backgrounds.</strong> The BJC CSP PD is open to teachers in all disciplines. STEM (Science, Technology, Engineering, and Mathematics) disciplines are especially encouraged to apply. No prior computer science knowledge or computer programming experience is required, however.</li>
    <li><strong>Principal's consent.</strong> An important criterion of eligibility for teachers interested in the PD course is an agreement from the teacher's principal that the AP BJC CSP course will be offered in the teacher's school during the 2017-2018 academic year and, if possible, the 2016-2017 academic year. The <a href="http://bit.ly/2016-BJC-Principal-form">BJC Principal Approval Form</a> also includes acknowledgement of and agreement to collect student research data. (Because one of our primary goals is to broaden participation in computing, we will accept applications from schools that wish to offer the BJC CSP course as a non-AP course.)</li>
</ul>

<h3>What the Project will Provide to Participating Teachers and Schools</h3>

<ul>
    <li><strong>Professional Development.</strong> A 3-week professional development (PD) course.</li>
    <li><strong>Pedagogical Resources.</strong> Lesson plans, rubrics, assessments, permission forms and other resources needed to teach the AP BJC CSP course.</li>
    <li><strong>Community.</strong> A community consisting of project leaders and mentor teachers who will provide support throughout the school year.</li>
    <li><strong>Stipend.</strong> Teachers accepted for the PD will receive a stipend for the PD and another stipend for teaching the course and assisting with the collection of research data.</li>
</ul>

<h3>What is Expected of the Teacher During the Summer</h3>

<ul>
    <li>Complete the three week PD course, approximately 60 hours (40 hours Week 2, 10 hours each, Weeks 1&amp;3).</li>
    <li>Work through a selection of the course's 7 content units.  The units are exactly those that the students will do.</li>
    <li>Maintain an online portfolio of the work on the lessons.</li>
    <li>Complete one or more of the performance tasks that students will complete.</li>
    <li>Complete the final assessment that students will complete.</li>
    <li>Complete a pre- and post-course questionnaire.</li>
</ul>

<h3>What is Expected of the Teacher During the School Year</h3>

<ul>
    <li>Teach the BJC CSP course, ideally over the course of the entire academic year, but half-year courses can also work (in cases of block scheduling).</li>
    <li>Work with the project research team to gather data from students (student and parental consent forms, a pre- and post-course questionnaire, completed rubrics for the student performance tasks, final exam, etc.)</li>
    <li><em>Please consult your administrator or district assessment coordinator to confirm participation in the research portion of the project. Copies of questionnaires and consent forms are available upon request to <a href="mailto:tiffany.barnes@gmail.com">tiffany.barnes@gmail.com</a></em></li>
    <li>Participate in periodic online hangouts with project leaders and mentor teachers.</li>
    <li>Participate (optionally) in the CS10K Community of Practice and/or the Computer Science Teachers Association (CSTA).</li>
    <li>Complete a teacher survey at the end of the academic year.</li>
</ul>

<h3>What is Expected of the Teacher's School</h3>

<ul>
    <li>Schedule at least one section of the BJC CSP course during the 2017-2018 academic calendar year and, if possible, in the 2016-2017 calendar year.</li>
    <li>Recruit an appropriate number of students of the targeted demographic (females, minority students, and disabled students).</li>
</ul>

<h3>Cost, Stipends and Support</h3>

<ul>
    <li>Registration. You must pay $75 to hold your spot and provide lunch. (Payment not due until your application is accepted and your PD location/date is confirmed).</li>
    <li>Summer PD Stipend. Eligible accepted teachers will be paid a $1,000 stipend for successful completion of the summer PD.</li>
    <li>End-of-year Stipend of up to $1,000 for accepted teachers who complete the course and submit the required student questionnaires and other assessment materials.</li>
    <li>Classroom support will be provided by mentors throughout the school year, through an online platform and the use of recorded lessons.</li>
    <li>Access to a support network. Teachers will have access to online forums and an e-mail group to share ideas and materials with other BJC CSP teachers and mentors.</li>
    <li>Recruit an appropriate number of students of the targeted demographic (females, minority students, and disabled students).</li>
</ul>

<p>If you are an <strong>international teacher</strong>, we welcome you to join us at one of our PD sessions, but we and DonorsChoose.org unfortunately cannot provide any monetary support. You will be responsible for the full price of the PD, and you will need to arrange travel, visas, etc. on your own. If you are still interested in joining us this summer, please complete only the “All Teachers”  section of the application process below! If you have any questions, please email <a href="mailto:contact@bjc.berkeley.edu">contact@bjc.berkeley.edu</a>.</p>

<p>If you are a <strong>private school teacher</strong>, we will offer the PD to you at a discounted cost, and you are eligible to receive up to $1000 for providing the project with data from your course. (You will not be eligible for a summer stipend). STOP READING this section and complete only the “All Teachers” section of the application process below!</p>

<p>If you are a <strong>public school teacher</strong>, your costs will be paid through DonorsChoose, two ways:</p>
<ol>
    <li>The No Stipend Model - As a teacher, you or your school district would need to raise $1,000 on DonorsChoose.org to fund the cost of your professional development. Every dollar you raise will be matched by InfoSys to reach the $2,000 cost of professional development. You must teach BJC this upcoming academic year per the agreement with your school principal and commit to taking our BJC surveys throughout the year. See our <a href="http://bjc.link/pd16costbreakdown">cost breakdown here</a>.</li>
    <li>The Full Stipend Model - As a teacher, you or your school district would need to raise $2,000 on DonorsChoose.org to fund the cost of your professional development. Every dollar you raise will be matched by InfoSys to reach the $4,000 cost of professional development ($2,000 to fund the cost of your professional development and $2,000 in stipends for yourself). You will receive $1,000 after finishing the first part of our online PD and our face-to-face PD. You will receive an additional $1,000 after you have taught BJC this upcoming academic year and have submitted all required materials to us. See our <a href="http://bjc.link/pd16costbreakdown">cost breakdown here</a>.</li>
</ol>

<p>You should <strong>complete the BJC application</strong> <em>before</em> you raise the funds. The fundraising process is being organized by DonorsChoose.org, which provides a mechanism by which donors can pledge funds to support you.</p>
{% endcapture %}
{% include section.html %}

{% capture section_content %}
<a class="anchor" id="apply">apply to BJC PD</a>
<h3>Application Process</h3>

<p>The application includes a two-page resume and a signed application from the principal of your school. Please note that a limited number of spaces are available for this option.</p>

<p><strong>ALL ATTENDEES</strong>: To participate in the BJC CSP Professional Development, please:</p>
<ul>
    <li>First, print the BJC Principal Approval Form, have it signed and made into a PDF.</li>
    <li>Second, click here to fill out the BJC PD Application. You will submit the Principal Approval Form on the application page. Once you receive your acceptance, you will receive a link to pay your registration fee.</li>
</ul>

<p>Note: Private / International School Teachers  - you will hear from us after you’ve applied.</p>

<p><strong>OTHER SCHOOL ADMINS AND STAFF:</strong> If you are a school administrator or staff who provides PD and support to teachers, you may also apply to attend and pay the private school teacher cost.</p>

<p><strong>BJC Alumni Teachers and College Faculty:</strong> If you are a college faculty member interested in replicating the BJC PD and supporting high school teachers, please use the same application above to apply to attend our  Train the Trainer workshop in Raleigh NC July 18-22.</p>

<p><strong>PUBLIC SCHOOL TEACHERS ONLY:</strong></p>

<ul>
    <li>Complete both items for All Teachers in the section above. Then, fill out a price quote form for the location where you’d like to receive your PD. As a <strong>public school teacher</strong>, you are required to apply for matched funding through DonorsChoose.org.
        <ol>
            <li>Jun 13-17 in Berkeley: <a href="http://bjc.link/juneca16pricequote">http://bjc.link/juneca16pricequote</a></li>
            <li>Jun 20-24 in Gonzales, Louisiana: <a href="http://bjc.link/la16pricequote">http://bjc.link/la16pricequote</a></li>
            <li>Jul 11-15 in Torrance, California: <a href="http://bjc.link/torranceca16pricequote">http://bjc.link/torranceca16pricequote</a></li>
            <li>Jul 11-15 in Waltham (Boston), Massachusetts: <a href="http://bjc.link/ma16pricequote">http://bjc.link/ma16pricequote</a></li>
            <li>Jul 11-15 in Highland Heights, Kentucky: <a href="http://bjc.link/ky16pricequote">http://bjc.link/ky16pricequote</a></li>
            <li>Jul 18-22 in Raleigh, North Carolina: <a href="http://bjc.link/nc16pricequote">http://bjc.link/nc16pricequote</a></li>
            <li>Jul 25-29 in Berkeley, California: <a href="http://bjc.link/ca16pricequote">http://bjc.link/ca16pricequote</a></li>
            <li>Jul 25-29 in Claremont, California: <a href="http://bjc.link/claremontca16pricequote">http://bjc.link/claremontca16pricequote</a></li>
            <li>Jul 25-29 in Union, New Jersey: <a href="http://bjc.link/nj16pricequote">http://bjc.link/nj16pricequote</a></li>
            <li>Jul 25-29 in Charleston, South Carolina: <a href="http://bjc.link/sc16pricequote">http://bjc.link/sc16pricequote</a></li>
            <li>Aug 1-5 in Fairfax, Virginia: <a href="http://bjc.link/va16pricequote">http://bjc.link/va16pricequote</a></li>
            <li>Aug 1-5 in Philadephia, Pennsylvania: <a href="http://bjc.link/pa16pricequote">http://bjc.link/pa16pricequote</a></li>
        </ol>
    </li>
    <li>Tips &amp; Advice for Fundraising! We’re compiling success stories of fully funded teachers to provide insight into the process. Please definitely read this as it will help in your fundraising and navigating DC.org. Many teachers are having their projects funded in 7 days!</li>
</ul>

<p>Please have all three parts completed 6 weeks in advance of your desired PD location so that you give yourself enough time to fundraise.</p>
{% endcapture %}
{% include section.html %}

{% capture section_content %}
<a class="anchor" id="workshop-resources"></a>
<h3>The Curriculum</h3>

<p>The most important links you'll need throughout the workshop are to the
    online curriculum itself:</p>

<ul>
    <li>PD Week 2
        <a href="http://bjc.edc.org/bjc-r/course/PD_week1_mini_course.html">Mini Course</a>
    </li>
    <li>Student-facing materials: <a
            href="http://bjc.edc.org">http://bjc.edc.org</a></li>
    <li>Teacher's guide: <a
            href="http://bjc.edc.org/bjc-r/teacher">http://bjc.edc.org/bjc-r/teacher</a></li>
</ul>

<h3>Workshop Schedule</h3>

<p>This workshop begins with an online component.  <i>It's really important
    that you complete this work before the face-to-face session!</i>  Similarly,
    there is a significant amount of important work online following the
    face-to-face week.</p>

<p>If you have trouble doing this work, whether it's a problem getting online
    or a problem understanding the units, don't just give up.  Instead, use our
    Piazza group (see week 1 below) to ask for help, or if that fails, push this
    <b><a href="mailto:contact@bjc.berkeley.edu">panic button</a></b> to send
    us an email.</p>

<ul>
    <li><b>Week 1 schedule:</b>
        <ul>
            <li>Enroll in the Piazza group for your workshop.  You should have gotten an
                email about this, with the enrollment link.  If not, push the panic button
                above.</li>
            <li>Please complete the [link here] online survey and pre-test.  (You aren't expected
                to know any of the answers yet!  We just need a baseline for research
                purposes.)  Thanks.</li>
            <li>Do the labs for <a
                    href="http://bjc.edc.org/bjc-r/topic/topic.html?topic=nyc_bjc/1-intro-loops.topic&course=bjc4nyc_2015-2016.html&noassignment&novideo">Unit
                1</a> and <a
                    href="http://bjc.edc.org/bjc-r/topic/topic.html?topic=nyc_bjc/2-conditionals-abstraction.topic&course=bjc4nyc_2015-2016.html&noassignment&novideo">Unit
                2</a> of the BJC online curriculum.</li>
            <li>Read these excerpts from
                <a href="http://www.bitsbook.com/wp-content/uploads/2008/12/B2B_3.pdf"><i>Blown
                    to Bits</i></a>, the course textbook:
                <ul><li>Chapter 1: first ten pages.</li>
                    <li>Chapter 2: pages 22-35 Footprints & Fingerprints</li>
                    <li>Chapter 4: read pages 120-121 and skim 122-138 (It Matters how it Works)</li>
                </ul>
                Feel free to read more if a chapter catches your interest!</li>
            <li>There will be an online meeting midweek.  Details differ for each workshop
                and will be provided by email.</li></ul></li>

    <li><a
            href="https://docs.google.com/spreadsheets/d/1RmqvgJXyGPw-WZyUOkHjyhRtva6lctE3aNDjtLjtWRs/edit?usp=sharing">Week
        2 Face-to-face Schedule</a></li>


    <li><b>Week 3 schedule:</b>
        <ul>
            <li>Complete <a
                    href="http://bjc.edc.org/bjc-r/topic/topic.html?topic=nyc_bjc/4-internet.topic&course=bjc4nyc_2015-2016.html&noassignment&novideo">Unit
                4</a> and <a
                    href="http://bjc.edc.org/bjc-r/topic/topic.html?topic=nyc_bjc/7-recursive-reporters.topic&course=bjc4nyc_2015-2016.html&noassignment&novideo">Unit
                7</a> of the online labs.</li>
            <li>Read <i>the first ten pages</i> of Chapters 5-7 of <i>Blown to
                Bits</i>.</li>
            <li>With a partner, complete and submit the Create Task (video
                portion).  (This will be explained during week 2.)</li>
            <li>Take the online <a href="https://ncsu.qualtrics.com//SE/?SID=SV_bsjURC5KTGPqWb3">post-assessment</a>.</li>
        </ul>
    </li>
</ul>

<h3>Week 2 activity links</h3>

<h4>Monday</h4>
<ul>
    <li><a href="http://bjc.berkeley.edu/Berkeley-workshop/EDC_BJC_JM.pptx">Intro to Workshop</a>
        slides</li>
    <li><a href="http://bjc.berkeley.edu/Berkeley-workshop/BJC.pptx">Intro to BJC</a>
        slides</li>
    <li><a href="http://bjc.berkeley.edu/cs10social/02ip.pptx">Owning Ideas</a>
        slides</li>
    <li><a
            href="http://bjc.berkeley.edu/Berkeley-workshop/APCSP.pptx">AP
        CS Principles Presentation</a> slides</li>
    <li><a
            href="https://advancesinap.collegeboard.org/stem/computer-science-principles">AP
        CS Principles</a> College Board site</li>
    <li><a
            href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap-computer-science-principles-curriculum-framework.pdf">Curriculum
        Framework</a></li>
    <li><a href="http://bjc.berkeley.edu/APCSP Course and Exam Description 11 16.pdf">Course and Exam Description</a></li>
    <li><a href="http://bjc.berkeley.edu/Berkeley-workshop/Pair-Programming.pptx">pair programming slides</a>
        (including movie links)</li>
    <!-- <li><a href="http://computationaltales.blogspot.com">Computational Fairy
    Tales</a></li> -->
    <li><a href="http://csunplugged.org">CS Unplugged</a></li>
</ul>

<h4>Tuesday</h4>
<ul>
    <li><a href="https://drive.google.com/open?id=0B4KuCtIkhB7QU05TWGRKVHRodkE">Why use HOFs</a> slides</li>
    <li><a href="http://bjc.edc.org/bjc-r/cur/programming/1-introduction/TG/overview.html">Teacher's Guide</a></li>
    <li><a href="http://bjc.berkeley.edu/cs10social/07education.pptx">Computers in Education</a> slides</li>
</ul>

<h4>Wednesday</h4>
<ul>
    <li><a href="http://snap.berkeley.edu/snapsource/snap.html#present:Username=bh&ProjectName=vee">Vee</a> demo</li>
    <li><a href="http://snap.berkeley.edu/snapsource/snap.html#present:Username=bh&ProjectName=py-fractal">Pythagorean fractal</a> project</li>
    <li><a href="http://bjc.berkeley.edu/recursion-howto.txt">recursion-howto.txt</a>
    <li><a href="http://bjc.berkeley.edu/EDC_BJC_PD_recruitment strategies.pptx">Recruitment Strategies presentation</a>
    <li><a href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/recruiting-students-ap-computer-science-principles.pdf">Recruitment
        Strategies</a> (College Board document)</li>
    <!-- BAD LINK: <li><a href="English-Creole.ypr">English-Creole</a> BYOB project</li>-->
    <li><a href="http://snap.berkeley.edu/snapsource/snap.html#cloud:Username=bh&ProjectName=sorting">Sorting</a>
        project</li>
</ul>

<h4>Thursday</h4>
<ul>
    <li><a href="https://www.youtube.com/watch?v=GnZJhA_OM6M">Smile recognition</a>
        project presentation</li>
    <li><a href="http://bjc.berkeley.edu/MagicMachine3.ypr">Magic Machine</a>
        project (the project file, not a video)</li>
    <li>Dan's list of <a href="https://docs.google.com/document/d/1aRa5zYDX3FTCn-mvIULezo2zsdZHACohuIA-UMjj1QY">winning CS 10 projects</a></li>
    <li>Lots more <a href="https://www.youtube.com/results?search_query=berkeley+CS+10+final+project">final
        project</a> videos</a></li>
    <li><a href="http://tinyurl.com/BJC-Performance-Tasks">Performance
        Tasks</a> presentation</li>
    <li><a href="https://docs.google.com/presentation/d/1o1gWZL2zchqG6ZFtqzD7IKLcwaJmyRX-qhHmQSIyLmA/edit?usp=sharing">Mini-proj presentation template</a></li>
    <li><a href="https://docs.google.com/document/d/1lsOimvucs_-lcUkqGg5isue7HlYXmxc3_qlUokNFk4U/edit?usp=sharing">Mini-proj storyboard</a></li>
    <li><a href="https://drive.google.com/folderview?id=0B2MTeD_OC6kNfk85S1ZtSERXTzJWNk1vUGJrMXlJbXYxb3JyZ3YwVXVTci10Z0ttU0QzV0k&usp=sharing">Share projects here</a></li>
</ul>

<h4>Friday</h4>
<ul>
    <li><a href="http://tinyurl.com/BJC-Syllabus">AP
        CSP Syllabus and Course Audit</a> presentation</li>
    <li><a href="http://bjc.berkeley.edu/website/CSP_Curricular_Resource_Requirements.pdf">Curricular
        and Resource Requirements</a></li>
    <li><a href="https://ncsu.qualtrics.com//SE/?SID=SV_6y70OcHf49xDOa9">Survey</a></li>
</ul>
{% endcapture %}
{% include section.html %}