---
layout: page
title: Professional Development
subtitle: Six-week workshop for NYC teachers
---
{% capture section_content %}
<div class="text-center">
    <p>
        <em>This page describes the six-week workshop model. In 2016 this model applies only in New York City.
        <a href="{{ site.baseurl }}/professional-development-3-weeks">Click here for the three-week model.</a></em>
    </p>
</div>
{% endcapture %}
{% include section.html %}

{% capture section_content %}
<h3>About BJC and This Workshop</h3>

<p>BJC is designed to meet the
    requirements of the College Board AP Computer Science Principles curriculum
    framework.  It was originally developed as a university breadth course at
    the University of California, Berkeley, and has been extensively revised for
    high school use at EDC (Education Development Center).</p>

<p>This is a six-week workshop. The first and last weeks are face-to-face; during the middle four weeks, most of the
    work is done online, along with a computer-mediated virtual meeting once per week. The materials needed for the
    workshop are all online, with links to them on this page.</p>

<ol type="I">
    <li>About BJC and This Workshop
        <ul><li><a href="#curriculum">The Curriculum</a></li>
            <li><a href="#schedule">Workshop Schedule</a></li>
            <li><a href="#bjclinks">Other BJC links</a></li>
            <li><a href="#activity-links-1">Week 1 activity links</a></li>
            <li><a href="#activity-links-2">Week 6 activity links</a></li>
            <li><a href="#other">Other links</a></li>
        </ul>
    </li>
    <li><a href="#csp">About AP CS Principles</a>
        <ul><li><a href="#cblinks">College Board document links</a></li>
            <li><a href="#bjc-ap">College Board BJC endorsement documents</a> (Syllabus ID # 1648113v1)</li></ul>
    </li>
</ol>
{% endcapture %}
{% include section.html %}

{% capture section_content %}
<a class="anchor" id="curriculum"></a>
<h3>The Curriculum</h3>

<p>The most important links you'll need throughout the workshop are to the
    online curriculum itself:</p>

<ul>
    <li>PD Week 2
        <a href="http://bjc.edc.org/bjc-r/course/PD_week1_mini_course.html">Mini Course</a>
    </li>
    <li>Student-facing materials: <a
            href="http://bjc.edc.org">http://bjc.edc.org</a></li>
    <li>Teacher's guide: <a
            href="http://bjc.edc.org/bjc-r/teacher">http://bjc.edc.org/bjc-r/teacher</a></li>
</ul>

<a class="anchor" id="schedule"></a>
<h3>Workshop Schedule</h3>

<ul>
    <li>
        <a href="https://docs.google.com/spreadsheets/d/1K61cI_IAvRNzmzzcJmMwdm-wKjQNVknLcNUnfjiwu3w/edit?usp=sharing">
            Week 1 Face-to-face Schedule</a>
    </li>

    <li>Middle weeks schedule:

        <p>Each week includes two chapters from <em>Blown to Bits.</em> <strong>You
            don't have to read the complete chapters!</strong> Give each chapter an hour,
            or finish the first ten pages, whichever is longer. (Of course once you get
            started, we think you won't want to stop early.)</p>

        <p>Each week also includes a computer-mediated discussion section led by a
            Berkeley teaching assistant, both to model discussion sections and to provide
            time for answers to questions on the week's curriculum.</p>

        <table><tr><th>Week&nbsp;&nbsp;</th>
            <th>Lab assignment</th>
            <th>Reading&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Other assignment</th>
            <th>NYC 2016</th></tr>
            <tr><td>2</td><td>finish <a
                    href="http://bjc.edc.org/bjc-r/topic/topic.html?topic=nyc_bjc/2-conditionals-abstraction.topic&course=bjc4nyc_2015-2016.html&noassignment&noreading&novideo">Unit
                2: Conditionals</a>&nbsp;&nbsp;</td><td><a
                    href="http://www.bitsbook.com/wp-content/uploads/2008/12/chapter1.pdf"><em>BtB</em>
                ch. 1</a></td><td></td><td>July 11-15</td>
            </tr>
            <tr><td></td><td><a
                    href="http://bjc.edc.org/bjc-r/topic/topic.html?topic=nyc_bjc/3-lists.topic&course=bjc4nyc_2015-2016.html&noassignment&noreading&novideo">Unit
                3: Lists</a></td><td><a
                    href="http://www.bitsbook.com/wp-content/uploads/2008/12/chapter2.pdf"><em>BtB</em>
                ch. 2</a></td><td></td>
            </tr>
            <tr><td>3</td><td><a
                    href="http://bjc.edc.org/bjc-r/topic/topic.html?topic=nyc_bjc/4-internet.topic&course=bjc4nyc_2015-2016.html&noassignment&noreading&novideo">Unit
                4: Internet and Global Impact&nbsp;&nbsp;&nbsp;&nbsp;</a></td><td><a
                    href="http://www.bitsbook.com/wp-content/uploads/2008/12/chapter3.pdf"><em>BtB</em>
                ch. 3</a></td><td>Midterm exam due Friday,</td><td>July 18-22</td>
            </tr>
            <tr><td></td><td><a
                    href="http://bjc.edc.org/bjc-r/topic/topic.html?topic=nyc_bjc/5-algorithms.topic&course=bjc4nyc_2015-2016.html&noassignment&noreading&novideo">Unit
                5: Algorithms and Data</a></td><td><a
                    href="http://www.bitsbook.com/wp-content/uploads/2008/12/chapter4.pdf"><em>BtB</em>
                ch. 4<a></td><td>&nbsp;&nbsp;&nbsp;July 22</td>
            </tr>
            <tr><td>4</td><td><a
                    href="http://bjc.edc.org/bjc-r/topic/topic.html?topic=nyc_bjc/6-recursion-trees-fractals.topic&course=bjc4nyc_2015-2016.html&noassignment&noreading&novideo">Unit
                6: Recursion</a></td><td><a
                    href="http://www.bitsbook.com/wp-content/uploads/2008/12/chapter5.pdf"><em>BtB</em>
                ch. 5</a></td><td>Paper (<a
                    href="https://d1b10bmlvqabco.cloudfront.net/attach/h8yx482idav52y/glpfbo6tkTY/ii0wh3i3z7bp/Explore_Performance_Task_Nov2015.pdf">"Explore"
                task</a>) due Friday,&nbsp;&nbsp;&nbsp;</td><td>July 25-29</td></tr>
            <tr><td></td><td><a
                    href="http://bjc.edc.org/bjc-r/topic/topic.html?topic=nyc_bjc/7-recursive-reporters.topic&course=bjc4nyc_2015-2016.html&noassignment&noreading&novideo">Unit 7: Recursive Reporters&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;</td></td><td><a
                    href="http://www.bitsbook.com/wp-content/uploads/2008/12/chapter6.pdf"><em>BtB</em>
                ch. 6</a></td><td>&nbsp;&nbsp;&nbsp;July 29</tr>
            <tr><td>5</td><td>work on final project</td><td><a
                    href="http://www.bitsbook.com/wp-content/uploads/2008/12/chapter7.pdf"><em>BtB</em>
                ch. 7</a></td><td>Final project (<a
                    href="https://d1b10bmlvqabco.cloudfront.net/attach/h8yx482idav52y/glpfbo6tkTY/ii0whym8dnb/Create_Performance_Task_Nov2015.pdf">"Create"
                task</a>)</td><td>Aug 1-5</td></tr>
            <tr><td></td><td></td><td><a
                    href="http://www.bitsbook.com/wp-content/uploads/2008/12/chapter8.pdf"><em>BtB</em>
                ch. 8</a></td>
                <td>&nbsp;&nbsp;&nbsp;due Monday week 6 (Aug 8)</td></tr>
        </table>
    </li>

    <li>
        <a href="https://docs.google.com/spreadsheets/d/18_bDbRH-HVzPQvUL-e8QKUR4n7xBWtX3FUVhd9YI1iA/edit?usp=sharing">
            Week 6 Face-to-face Schedule</a> (Aug 8-12)
    </li>
    <li>
        <b>Assignments to be turned in</b>
        <ul><li>Midterm exam (take-home) covering Units 1-3 will be distributed by
            email and will be turned in by
            email to apcs@strongschools.nyc.</li>
            <li>Explore task is basically a paper about a topic in social implications
                of computers, but the College Board has specific rules that you should try
                to follow, so you'll know what your students have to do.  Turned in by
                email to apcs@strongschools.nyc.</li>
            <li>Create task, also known as the final project, is your entire lab
                assignment for week 5.  You should work on it in pairs, even though the
                College Board wants some parts to be individual.  You will bring the
                Snap<i>!</i>~project and the presentation to the final face-to-face week,
                to demonstrate to your fellow participants.</li>
        </ul>
    </li>
</ul>

<a class="anchor" id="activity-links-1"></a>
<h3>Week 1 activity links</h3>

<h4>Monday</h4>
<ul>
    <li><a href="http://bjc.berkeley.edu/Berkeley-workshop/EDC_BJC_JM.pptx">Intro to Workshop</a>
        slides</li>
    <li><a href="http://bjc.berkeley.edu/Berkeley-workshop/BJC.pptx">Intro to BJC</a>
        slides</li>
    <li><a href="http://bjc.berkeley.edu/cs10social/02ip.pptx">Owning Ideas</a>
        slides</li>
    <li><a
            href="http://bjc.berkeley.edu/Berkeley-workshop/APCSP.pptx">AP
        CS Principles Presentation</a> slides</li>
    <li><a
            href="https://advancesinap.collegeboard.org/stem/computer-science-principles">AP
        CS Principles</a> College Board site</li>
    <li><a
            href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap-computer-science-principles-curriculum-framework.pdf">Curriculum
        Framework</a></li>
    <li><a href="http://bjc.berkeley.edu/APCSP Course and Exam Description 11 16.pdf">Course and Exam Description</a></li>
    <li><a href="http://bjc.berkeley.edu/Berkeley-workshop/Pair-Programming.pptx">pair programming slides</a>
        (including movie links)</li>
    <!-- <li><a href="http://computationaltales.blogspot.com">Computational Fairy
    Tales</a></li> -->
    <li><a href="http://csunplugged.org">CS Unplugged</a></li>
</ul>

<h4>Tuesday</h4>
<ul>
    <li><a href="https://drive.google.com/open?id=0B4KuCtIkhB7QU05TWGRKVHRodkE">Why use HOFs</a> slides</li>
    <li><a href="http://bjc.edc.org/bjc-r/cur/programming/1-introduction/TG/overview.html">Teacher's Guide</a></li>
    <li><a href="http://bjc.berkeley.edu/cs10social/07education.pptx">Computers in Education</a> slides</li>
</ul>

<h4>Wednesday</h4>
<ul>
    <li><a href="http://snap.berkeley.edu/snapsource/snap.html#present:Username=bh&ProjectName=vee">Vee</a> demo</li>
    <li><a href="http://snap.berkeley.edu/snapsource/snap.html#present:Username=bh&ProjectName=py-fractal">Pythagorean fractal</a> project</li>
    <li><a href="http://bjc.berkeley.edu/recursion-howto.txt">recursion-howto.txt</a>
    <li><a href="http://bjc.berkeley.edu/EDC_BJC_PD_recruitment strategies.pptx">Recruitment Strategies presentation</a>
    <li><a href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/recruiting-students-ap-computer-science-principles.pdf">Recruitment
        Strategies</a> (College Board document)</li>
    <!-- BAD LINK: <li><a href="English-Creole.ypr">English-Creole</a> BYOB project</li> -->
    <li><a href="http://snap.berkeley.edu/snapsource/snap.html#cloud:Username=bh&ProjectName=sorting">Sorting</a>
        project</li>
</ul>

<h4>Thursday</h4>
<ul>
    <li><a href="https://www.youtube.com/watch?v=GnZJhA_OM6M">Smile recognition</a>
        project presentation</li>
    <li><a href="http://bjc.berkeley.edu/MagicMachine3.ypr">Magic Machine</a>
        project (the project file, not a video)</li>
    <li>Dan's list of <a href="https://docs.google.com/document/d/1aRa5zYDX3FTCn-mvIULezo2zsdZHACohuIA-UMjj1QY">winning CS 10 projects</a></li>
    <li>Lots more <a href="https://www.youtube.com/results?search_query=berkeley+CS+10+final+project">final
        project videos</a></li>
    <li><a href="http://tinyurl.com/BJC-Performance-Tasks">Performance
        Tasks</a> presentation</li>
    <li><a href="https://docs.google.com/presentation/d/1o1gWZL2zchqG6ZFtqzD7IKLcwaJmyRX-qhHmQSIyLmA/edit?usp=sharing">Mini-proj presentation template</a></li>
    <li><a href="https://docs.google.com/document/d/1lsOimvucs_-lcUkqGg5isue7HlYXmxc3_qlUokNFk4U/edit?usp=sharing">Mini-proj storyboard</a></li>
    <li><a href="https://drive.google.com/folderview?id=0B2MTeD_OC6kNfk85S1ZtSERXTzJWNk1vUGJrMXlJbXYxb3JyZ3YwVXVTci10Z0ttU0QzV0k&usp=sharing">Share projects here</a></li>
</ul>

<h4>Friday</h4>
<ul>
    <li><a href="http://tinyurl.com/BJC-Syllabus">AP
        CSP Syllabus and Course Audit</a> presentation</li>
    <li><a href="http://bjc.berkeley.edu/website/CSP_Curricular_Resource_Requirements.pdf">Curricular
        and Resource Requirements</a></li>
    <li><a href="https://ncsu.qualtrics.com//SE/?SID=SV_6y70OcHf49xDOa9">Survey</a></li>
</ul>

{% if include.workshop_type == "extended" %}
<a class="anchor" id="activity-links-2"></a>
<h3 class="page-header">Week 6 activity links</h3>

<ul>
    <li><a href="http://tinyurl.com/BJC-Performance-Tasks">Performance
        Tasks</a> presentation</li>
    <li><a href="http://tinyurl.com/BJC-Syllabus">AP
        CSP Syllabus and Course Audit</a> presentation</li>
    <li><a href="http://bjc.berkeley.edu/website/CSP_Curricular_Resource_Requirements.pdf">Curricular
        and Resource Requirements</a></li>
    <li><a href="http://tinyurl.com/snapcsp">CS Principles Reference Sheet (in Snap!)</a>
    <li>edX Lecture videos from <a href="http://bjc.link/bjc1xlectures">BJC.1x</a>, <a href="http://bjc.link/bjc2xlectures">BJC.2x</a>, <a href="http://bjc.link/bjc3xlectures">BJC.3x</a>, and <a href="http://bjc.link/bjc4xlectures">BJC.4x</a> (where you'll find videos on base conversion, abstraction, algorithms, etc.)
    <li><a href="http://go.edc.org/APR/">BJC Resource Links for AP CS Principles</a>
    <li>Explore and Create Performance Tasks
        <ol>
            <li>Page 70-81 and 103-113 of <a href="http://bjc.berkeley.edu/APCSP Course and Exam Description 11 16.pdf">Course and Exam Description</a></li>
            <li><a href="https://d1b10bmlvqabco.cloudfront.net/attach/h8yx482idav52y/glpfbo6tkTY/ii0wh3i3z7bp/Explore_Performance_Task_Nov2015.pdf">Explore
                task</a> and <a href="http://bjc.berkeley.edu/Explore_Performance_Task_Rubric_DRAFTPILOT_JUNE2016.pdf">Rubric</a></li>
            <li><a href="https://d1b10bmlvqabco.cloudfront.net/attach/h8yx482idav52y/glpfbo6tkTY/ii0whym8dnb/Create_Performance_Task_Nov2015.pdf">Create
                task</a> and <a href="http://bjc.berkeley.edu/Create_Performance_Task_Rubric_DRAFTPILOT_JUNE2016.pdf">Rubric</a></li>
            <li><a href="https://drive.google.com/drive/u/0/folders/0B1svvUUQcqe4cFRLN0lEMVFnVXM">College Board Performance Task Examples</a> (on Google Drive)</li>
            <li>College Board <a href="http://apcentral.collegeboard.com/apc/public/exam/exam_information/231726.html#assessment">Sample Performance Tasks</a></li>
            <li><a href="http://cs10.org/sp15/resources/readings/BH-Abstraction.txt">Brian Harvey Introduction to Abstraction</a> text</li>
            <li><a href="http://bjc.link/bjc1xlectures">Abstraction Videos</a> from BJC.1x</li>
            <li><a href="https://en.wikipedia.org/wiki/Algorithm">Algorithm definition</a> from Wikipedia
        </ol>
</ul>
{% endif %}
{% endcapture %}
{% include section.html %}