---
layout: page
title: Resources
---
{% for group_hash in site.data.resources %}
    {% assign group = group_hash[1] %}
    {% capture section_content %}
    <h3>{{ group.subheading }}</h3>
    <ul class="resources-list">
    {% for resource in group.resources %}
        {% assign resource_id = group_hash[0] | append: "-resource-" | append: forloop.index %}
        <li>
            <div class="resource-title">
                {% if resource.description %}
                <a class="unstyled-link" href="#{{ resource_id }}" data-toggle="collapse" aria-expanded="false" aria-controls="{{ resource_id }}">
                <i class="fa fa-caret-down"></i>
                {% endif %}
                <span class="resource-name">{{ resource.name }}</span>
                {% if resource.description %}
                </a>
                {% endif %}

                {% if resource.link %}
                <a href="{{ resource.link }}" class="resource-link">
                    Link <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
                {% endif %}
            </div>

            {% if resource.description %}
            <div id="{{ resource_id }}" class="collapse">
                {{ resource.description | markdownify }}
            </div>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endcapture %}

    {% include section.html %}
{% endfor %}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Course materials for online interaction or download</h3>
                <ul>
                    <li>The <a href="../bjc-r/course/berkeley_bjc.html">BJC curriculum</a> as taught
                        at Berkeley as of Fall 2013 (HTML-based).
                    <li>The abbreviated summer <a href="../bjc-r/course/pd_bjc.html">teacher
                        workshop curriculum</a> (HTML-based, could be used more slowly as a
                        high school semester course).
                    <li> <a href="http://veritas.eecs.berkeley.edu/courses/course/view.php?id=17">
                        The pre-2013 BJC course.</a> This version has been tailored for high schools, with
                        UCB references removed and other additions.  It is hosted in the
                        <a href="http://moodle.org">Moodle</a>
                        learning management system.

                    <li>
                        <A href="http://veritas.eecs.berkeley.edu/bjc/moodle-backups/latest.php">
                            Backups of the Moodle course</a>
                        (these are big downloads).

                    <li>The web page for
                        <a href="http://snap.berkeley.edu">S<small><small>NAP</small></small><i>!</i></a>, the
                        visual programming language used in the course.
                        <ul><li>Run the beta test version
                            <a href="http://snap.berkeley.edu/run">in your browser</a>.</ul>

                    <li>The web page for
                        <a href="http://bitsbook.com"><i>Blown to Bits,</i></a> the course textbook.

                    <li><a href="http://www.computingportal.org/bjc">
                        Rate and comment on</a> every learning module in the BJC curriculum.


                    <li>Colleen Lewis's middle school Scratch
                        <A href="http://blogs.hmc.edu/lewis/scratch/">curriculum</A>.

                    <li><a href="2011-08-04-STARS-BYOB-Workshop.zip">STARS 2011 BYOB Workshop</a>
                        (Zip file download)</li>

                    <li>Berkeley's version of the course, CS 10:
                        <ul><li><a href="http://inst.eecs.berkeley.edu/~cs10">Course home page</a>
                            <li><a href="http://www.youtube.com/playlist?list=PLECBD29A17AAF6EF9">
                                High-Definition CS 10 lecture
                                videos</a> from fall 2010 (embedded below)
                        </ul></ul>
            </div>
        </div>
    </div>
    <div class="trapezoid"></div>
</div> <!-- /. section -->