---
title: Meet the Master Teachers
layout: team
header_background: group2
---
<h3 class="text-uppercase text-center">Master Teachers</h3>

<div class="row grid-gallery master-teachers">
    {% assign master_teachers = site.data.people | where_exp: "item", "item.teams contains 'master-teachers'" | sort: 'name' %}
    {% for profile in master_teachers %}
    <div class="col-sm-3 col-xs-6 grid-item">
        <div class="circle-frame">
            {% include profile-photo.html image=profile.image name=profile.name %}
        </div>
        <div class="caption">
            <h4>{{ profile.name }}</h4>
            {% if profile.location %}
            <p class="profile-location">{{ profile.location }}</p>
            {% endif %}
            {% if profile.description %}
            <p class="small">{{ profile.description }}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>