---
title: Meet the Team
layout: team
header_background: group2
---
<h3 class="text-uppercase text-center">Snap<em>!</em> Development</h3>

<div class="row grid-gallery">
    {% assign people = site.data.people | where_exp: "item", "item.teams contains 'snap'" %}
    {% for profile in people %}
    <div class="col-md-4 col-sm-6 grid-item">
        <div class="circle-frame">
            {% include profile-photo.html image=profile.image name=profile.name %}
        </div>
        <div class="caption">
            <h4>{{ profile.name }}</h4>
            <p>{{ profile.description | markdownify }}</p>
        </div>
    </div>
    {% endfor %}
</div>