    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 social-icons">
                    <a href="http://twitter.com/{{site.twitter_username}}"><i class="fa fa-twitter-square fa-2x"></i></a>
                    <a href="http://facebook.com/{{site.facebook_username}}"><i class="fa fa-facebook-square fa-2x"></i></a>
                    <a href="http://instagram.com/{{site.instagram_username}}"><i class="fa fa-instagram fa-2x"></i></a>
                    <a href="mailto:{{site.email_address}}"><i class="fa fa-envelope-o fa-2x"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="cc-license-container">
                        <a class="cc-license" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                            <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
                        </a>
                        <div class="license-text">
                            <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Beauty and Joy of Computing</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">University of California, Berkeley</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /container -->

    <!-- javascript -->
    <script src="{{ site.baseurl }}/js/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>