    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 social-icons">
                    <a href="http://twitter.com/{{site.twitter_username}}">
                        <i class="fa fa-twitter-square fa-2x" aria-hidden="true" title="BJC Twitter"></i>
                        <span class="sr-only">BJC Twitter</span>
                    </a>
                    <a href="http://facebook.com/{{site.facebook_username}}">
                        <i class="fa fa-facebook-square fa-2x" aria-hidden="true" title="BJC Facebook Page"></i>
                        <span class="sr-only">BJC Facebook Page</span>
                    </a>
                    <a href="http://instagram.com/{{site.instagram_username}}">
                        <i class="fa fa-instagram fa-2x" aria-hidden="true" title="BJC Instagram"></i>
                        <span class="sr-only">BJC Instagram</span>
                    </a>
                    <a href="mailto:{{site.email_address}}" aria-hidden="true" title="BJC Email">
                        <i class="fa fa-envelope-o fa-2x"></i>
                        <span class="sr-only">BJC Email</span>
                    </a>
                </div>
            </div>
            <div class="row footer-links">
                <div class="col-xs-12">
                    <a href="{{ site.baseurl }}/privacy">Privacy</a> &middot;
                    &copy; The Beauty and Joy of Computing by the University of California, Berkeley
                </div>
            </div>
        </div>
    </footer>
    <!-- /container -->

    <!-- javascript -->
    <script src="{{ site.baseurl }}/js/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>