<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.description | strip }}">
<meta name="author" content="{{ site.author | strip }}">
<meta name="keywords" contnet="{{ site.keywords | strip}}">

<title>BJC | {{ page.title }}</title>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110683264-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110683264-1');
</script>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
<link href="{{ site.baseurl }}/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link rel="shortcut icon" href="{{ site.baseurl }}/assests/img/bjcfav.png" type="image/png">

<!-- Custom CSS -->
<link href="{{ site.baseurl }}/assets/css/styles.css" rel="stylesheet">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">

