<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        BJC | {{ page.title }}
    </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS for the 'Full Width Pics' Template -->
    <link href="{{ site.baseurl }}/css/full-width-pics.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/modern-business.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/bjcfav.png" type="image/png">

    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/css/styles.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">

</head>

<body>
    {% include warning_nav.html %}
    <nav class="navbar navbar-fixed-top navbar-inverse warning-nav-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand" href="{{ site.baseurl }}/">
                    <img alt="BJC Logo" src="{{ site.baseurl }}/img/bjc-logo.png">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right list-unstyled">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="hover-accent">About</span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ site.baseurl }}/about"><span class="hover-accent">About BJC</span></a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/team/leadership"><span class="hover-accent">Meet the Team</span></a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/partners"><span class="hover-accent">Partners</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="hover-accent">Curriculum</span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ site.baseurl }}/curriculum"><span class="hover-accent">BJC Curriculum</span></a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/edx"><span class="hover-accent">edX</span></a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="{{ site.baseurl }}/ap-cs-principles"><span class="hover-accent">AP CS Principles</span></a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="hover-accent">Professional Dev<span class="hidden-sm">elopment</span></span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ site.baseurl }}/professional-development-3-weeks"><span class="hover-accent">Outside NYC (3 weeks)</span></a>
                            </li>
                            <li>
                                <a href="{{ site.baseurl }}/professional-development-6-weeks"><span class="hover-accent">New York City (6 weeks)</span></a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="{{ site.baseurl }}/resources"><span class="hover-accent">Resources</span></a>
                    </li>

                    <li>
                        <a href="{{ site.baseurl }}/news"><span class="hover-accent">News</span></a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
        <div class="trapezoid"></div>
    </nav>