{% if include.workshop_type == "extended" %}
{% assign activity_week = 1 %}
{% else %}
{% assign activity_week = 2 %}
{% endif %}

{% capture section_content %}
<h3>About BJC and This Workshop</h3>

<p>BJC is designed to meet the
    requirements of the College Board AP Computer Science Principles curriculum
    framework.  It was originally developed as a university breadth course at
    the University of California, Berkeley, and has been extensively revised for
    high school use at EDC (Education Development Center).</p>

<p>{{ page.workshop_description }} The materials needed for the
    workshop are all online, and there are links to them on this page, which is
    organized in three sections:</p>

<ol type="I">
    <li>About BJC and This Workshop
        <ul><li><a href="#curriculum">The Curriculum</a></li>
            <li><a href="#schedule">Workshop Schedule</a></li>
            <li><a href="#bjclinks">Other BJC links</a></li>
            <li><a href="#activity-links-1">Week {{ activity_week }} activity links</a></li>
            {% if include.workshop_type == "extended" %}
            <li><a href="#activity-links-2">Week 6 activity links</a></li>
            {% endif %}
            <li><a href="#other">Other links</a></li>
        </ul>
    </li>
    <li><a href="#csp">About AP CS Principles</a>
        <ul><li><a href="#cblinks">College Board document links</a></li>
            <li><a href="#bjc-ap">College Board BJC endorsement documents</a> (Syllabus ID # 1648113v1)</li></ul>
    </li>
    <li><a href="#snap">About Snap<i>!</i></a> (our programming language)</li>
</ol>
{% endcapture %}
{% include section.html %}

{% capture section_content %}
<a class="anchor" id="curriculum"></a>
<h3>The Curriculum</h3>

<p>The most important links you'll need throughout the workshop are to the
    online curriculum itself:</p>

<ul>
    <li>PD Week 2
        <a href="http://bjc.edc.org/bjc-r/course/PD_week1_mini_course.html">Mini Course</a>
    </li>
    <li>Student-facing materials: <a
            href="http://bjc.edc.org">http://bjc.edc.org</a></li>
    <li>Teacher's guide: <a
            href="http://bjc.edc.org/bjc-r/teacher">http://bjc.edc.org/bjc-r/teacher</a></li>
</ul>

<a class="anchor" id="schedule"></a>
<h3>Workshop Schedule</h3>

{{ workshop_schedule }}

<a class="anchor" id="bjclinks"></a>
<h3>Other BJC links</h3>

<ul>
    <li><a href="http://bjc.berkeley.edu">Berkeley BJC site</a></li>

    <li><a href="http://bjc.berkeley.edu/website/compare.html">Comparison of BJC
        with CS Principles framework</a></li>

    <li><a href="http://snap.berkeley.edu/run">run Snap<em>!</em> live</a>

    <li><a href="http://www.bitsbook.com/"><i>Blown to Bits</i> home page</a>

    <li><a href="https://piazza.com/class/h8yx482idav52y">BJC TEACHERS Piazza
        group</a></li>
</ul>

<a class="anchor" id="activity-links-1"></a>
<h3>Week {{ activity_week }} activity links</h3>

<h4>Monday</h4>
<ul>
    <li><a href="http://bjc.berkeley.edu/Berkeley-workshop/EDC_BJC_JM.pptx">Intro to Workshop</a>
        slides</li>
    <li><a href="http://bjc.berkeley.edu/Berkeley-workshop/BJC.pptx">Intro to BJC</a>
        slides</li>
    <li><a href="http://bjc.berkeley.edu/cs10social/02ip.pptx">Owning Ideas</a>
        slides</li>
    <li><a
            href="http://bjc.berkeley.edu/Berkeley-workshop/APCSP.pptx">AP
        CS Principles Presentation</a> slides</li>
    <li><a
            href="https://advancesinap.collegeboard.org/stem/computer-science-principles">AP
        CS Principles</a> College Board site</li>
    <li><a
            href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap-computer-science-principles-curriculum-framework.pdf">Curriculum
        Framework</a></li>
    <li><a href="http://bjc.berkeley.edu/APCSP Course and Exam Description 11 16.pdf">Course and Exam Description</a></li>
    <li><a href="http://bjc.berkeley.edu/Berkeley-workshop/Pair-Programming.pptx">pair programming slides</a>
        (including movie links)</li>
    <!-- <li><a href="http://computationaltales.blogspot.com">Computational Fairy
    Tales</a></li> -->
    <li><a href="http://csunplugged.org">CS Unplugged</a></li>
</ul>

<h4>Tuesday</h4>
<ul>
    <li><a href="https://drive.google.com/open?id=0B4KuCtIkhB7QU05TWGRKVHRodkE">Why use HOFs</a> slides</li>
    <li><a href="http://bjc.edc.org/bjc-r/cur/programming/1-introduction/TG/overview.html">Teacher's Guide</a></li>
    <li><a href="http://bjc.berkeley.edu/cs10social/07education.pptx">Computers in Education</a> slides</li>
</ul>

<h4>Wednesday</h4>
<ul>
    <li><a href="http://snap.berkeley.edu/snapsource/snap.html#present:Username=bh&ProjectName=vee">Vee</a> demo</li>
    <li><a href="http://snap.berkeley.edu/snapsource/snap.html#present:Username=bh&ProjectName=py-fractal">Pythagorean fractal</a> project</li>
    <li><a href="http://bjc.berkeley.edu/recursion-howto.txt">recursion-howto.txt</a>
    <li><a href="http://bjc.berkeley.edu/EDC_BJC_PD_recruitment strategies.pptx">Recruitment Strategies presentation</a>
    <li><a
            href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/recruiting-students-ap-computer-science-principles.pdf">Recruitment
        Strategies</a> (College Board document)</li>
    <li><a href="English-Creole.ypr">English-Creole</a> BYOB project</li>
    <li><a href="http://snap.berkeley.edu/snapsource/snap.html#cloud:Username=bh&ProjectName=sorting">Sorting</a>
        project</li>
</ul>

<h4>Thursday</h4>
<ul>
    <li><a href="https://www.youtube.com/watch?v=GnZJhA_OM6M">Smile recognition</a>
        project presentation</li>
    <li><a href="http://bjc.berkeley.edu/MagicMachine3.ypr">Magic Machine</a>
        project (the project file, not a video)</li>
    <li>Dan's list of <a href="https://docs.google.com/document/d/1aRa5zYDX3FTCn-mvIULezo2zsdZHACohuIA-UMjj1QY">winning CS 10 projects</a></li>
    <li>Lots more <a href="https://www.youtube.com/results?search_query=berkeley+CS+10+final+project">final
        project</a> videos</a></li>
    <li><a href="http://tinyurl.com/BJC-Performance-Tasks">Performance
        Tasks</a> presentation</li>
    <li><a href="https://docs.google.com/presentation/d/1o1gWZL2zchqG6ZFtqzD7IKLcwaJmyRX-qhHmQSIyLmA/edit?usp=sharing">Mini-proj presentation template</a></li>
    <li><a href="https://docs.google.com/document/d/1lsOimvucs_-lcUkqGg5isue7HlYXmxc3_qlUokNFk4U/edit?usp=sharing">Mini-proj storyboard</a></li>
    <li><a href="https://drive.google.com/folderview?id=0B2MTeD_OC6kNfk85S1ZtSERXTzJWNk1vUGJrMXlJbXYxb3JyZ3YwVXVTci10Z0ttU0QzV0k&usp=sharing">Share projects here</a></li>
</ul>

<h4>Friday</h4>
<ul>
    <li><a href="http://tinyurl.com/BJC-Syllabus">AP
        CSP Syllabus and Course Audit</a> presentation</li>
    <li><a href="http://bjc.berkeley.edu/website/CSP_Curricular_Resource_Requirements.pdf">Curricular
        and Resource Requirements</a></li>
    <li><a href="https://ncsu.qualtrics.com//SE/?SID=SV_6y70OcHf49xDOa9">Survey</a></li>
</ul>

{% if include.workshop_type == "extended" %}
<a class="anchor" id="activity-links-2"></a>
<h3 class="page-header">Week 6 activity links</h3>

<ul>
    <li><a href="http://tinyurl.com/BJC-Performance-Tasks">Performance
        Tasks</a> presentation</li>
    <li><a href="http://tinyurl.com/BJC-Syllabus">AP
        CSP Syllabus and Course Audit</a> presentation</li>
    <li><a href="http://bjc.berkeley.edu/website/CSP_Curricular_Resource_Requirements.pdf">Curricular
        and Resource Requirements</a></li>
    <li><a href="http://tinyurl.com/snapcsp">CS Principles Reference Sheet (in Snap!)</a>
    <li>edX Lecture videos from <a href="http://bjc.link/bjc1xlectures">BJC.1x</a>, <a href="http://bjc.link/bjc2xlectures">BJC.2x</a>, <a href="http://bjc.link/bjc3xlectures">BJC.3x</a>, and <a href="http://bjc.link/bjc4xlectures">BJC.4x</a> (where you'll find videos on base conversion, abstraction, algorithms, etc.)
    <li><a href="http://go.edc.org/APR/">BJC Resource Links for AP CS Principles</a>
    <li>Explore and Create Performance Tasks
        <ol>
            <li>Page 70-81 and 103-113 of <a href="http://bjc.berkeley.edu/APCSP Course and Exam Description 11 16.pdf">Course and Exam Description</a></li>
            <li><a href="https://d1b10bmlvqabco.cloudfront.net/attach/h8yx482idav52y/glpfbo6tkTY/ii0wh3i3z7bp/Explore_Performance_Task_Nov2015.pdf">Explore
                task</a> and <a href="http://bjc.berkeley.edu/Explore_Performance_Task_Rubric_DRAFTPILOT_JUNE2016.pdf">Rubric</a></li>
            <li><a href="https://d1b10bmlvqabco.cloudfront.net/attach/h8yx482idav52y/glpfbo6tkTY/ii0whym8dnb/Create_Performance_Task_Nov2015.pdf">Create
                task</a> and <a href="http://bjc.berkeley.edu/Create_Performance_Task_Rubric_DRAFTPILOT_JUNE2016.pdf">Rubric</a></li>
            <li><a href="https://drive.google.com/drive/u/0/folders/0B1svvUUQcqe4cFRLN0lEMVFnVXM">College Board Performance Task Examples</a> (on Google Drive)</li>
            <li>College Board <a href="http://apcentral.collegeboard.com/apc/public/exam/exam_information/231726.html#assessment">Sample Performance Tasks</a></li>
            <li><a href="http://cs10.org/sp15/resources/readings/BH-Abstraction.txt">Brian Harvey Introduction to Abstraction</a> text</li>
            <li><a href="http://bjc.link/bjc1xlectures">Abstraction Videos</a> from BJC.1x</li>
            <li><a href="https://en.wikipedia.org/wiki/Algorithm">Algorithm definition</a> from Wikipedia
        </ol>
</ul>
{% endif %}

<a class="anchor" id="other"></a>
<h3>Other links</h3>

<ul>
    <li>Computers in the News:
        <ul>
            <li><a href="http://www.nytimes.com/pages/technology/index.html">NY Times Technology page</a></li>
            <li><a href="http://acm.org/technews">ACM TechNews</a></li>
            <li><a href="http://eff.org">Electronic Frontier Foundation</a></li>
            <li><a href="http://epic.org">Electronic Privacy Information Center</a></li>
        </ul></li>
    <li><a href="mailto:bjc@bjc.berkeley.edu">email UCB BJC team</a></li>
    <li><a href="mailto:edc_cs_msp@mailman.edc.org">email EDC BJC team</a></li>
    <li><a href="https://youtu.be/zDZFcDGpL4U">Ken Robinson video</a> on schools vs. creativity</li>
    <li><a href="http://mitpress.mit.edu/sicp/full-text/book/book.html"><em>Structure
        and Interpretation of Computer Programs</em></a> (full text online free!)</li>
</ul>
{% endcapture %}
{% include section.html %}

{% capture section_content %}
<a class="anchor" id="csp"></a>
<h3>About AP CS Principles</h3>

<p>From <a
        href="https://advancesinap.collegeboard.org/stem/computer-science-principles">the
    College Board CSP site</a>:</p>

<blockquote>
    <p>AP Computer Science Principles introduces students to the foundational
        concepts of computer science and challenges them to explore how computing and
        technology can impact the world. With a unique focus on creative problem
        solving and real-world applications, AP Computer Science Principles prepares
        students for college and career.</p>

    <p><strong>Computer Science: The New Literacy</strong></p>

    <p>Whether it's 3-D animation, engineering, music, app development, medicine,
        visual design, robotics, or political analysis, computer science is the engine
        that powers the technology, productivity, and innovation that drive the world.
        Computer science experience has become an imperative for today's students and
        the workforce of tomorrow.</p>

    <p>The AP Program designed AP Computer Science Principles with the goal of
        creating leaders in computer science fields and attracting and engaging those
        who are traditionally underrepresented with essential computing tools and
        multidisciplinary opportunities.</p>

    <p><strong>Rigorously Developed</strong></p>

    <p>In development since 2008, AP Computer Science Principles was created with
        significant support from the National Science Foundation. The College Board
        worked with more than 50 leading high school and higher education computer
        science educators who piloted the course at their institutions. This rigorous
        process of development and testing has yielded a course that not only reflects
        the latest scholarship in the field, but provides students with a relevant and
        engaging learning experience.</p>

    <p>Over 90 colleges and universities have stated their support for the course,
        with the majority anticipating they will award college credit for high exam
        scores.</p>
</blockquote>

<a class="anchor" id="cblinks"></a>
<h3>College Board document links</h3>

<ul>
    <li><a
            href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap-computer-science-principles-curriculum-framework.pdf">Curriculum
        Framework</a></li>
    <li><a href="http://bjc.berkeley.edu/APCSP Course and Exam Description 11 16.pdf">Course and Exam Description</a></li>
    <li><a href="http://bjc.berkeley.edu/website/CSP_Curricular_Resource_Requirements.pdf">Curricular
        and Resource Requirements</a></li>
    <li><a
            href="https://secure-media.collegeboard.org/digitalServices/pdf/ap/recruiting-students-ap-computer-science-principles.pdf">Recruitment
        Strategies</a> for underrepresented students
        <p>(Excerpt: "All students should have equitable access to this new course.
            Care should be taken to ensure that students taking the course are
            demographically representative of the school's population before confirming
            their enrollment. Therefore, we encourage you to create policies that promote
            and enable diversity in the course and to not create barriers that would
            discourage underrepresented groups from participating.")</p>
    <li><a href="https://apcommunity.collegeboard.org/web/csprinciples/">CSP
        teacher community</a> (login required)</li>
    <li>AP Exam documentation:
        <ul><li><a
                href="https://d1b10bmlvqabco.cloudfront.net/attach/h8yx482idav52y/glpfbo6tkTY/ii0wh3i3z7bp/Explore_Performance_Task_Nov2015.pdf">Explore
            task</a>
            <ul><li>... and <!-- <a
href="https://d1b10bmlvqabco.cloudfront.net/attach/h8yx482idav52y/glpfbo6tkTY/ii0wgl2kryql/Explore_Performance_Task_Rubric_Nov2015.pdf">
--> <a href="http://bjc.berkeley.edu/Explore_Performance_Task_Rubric_DRAFTPILOT_JUNE2016.pdf">Rubric</a></li></ul></li>
            <li><a
                    href="https://d1b10bmlvqabco.cloudfront.net/attach/h8yx482idav52y/glpfbo6tkTY/ii0whym8dnb/Create_Performance_Task_Nov2015.pdf">Create
                task</a>
                <ul><li>... and <!-- <a
href="https://d1b10bmlvqabco.cloudfront.net/attach/h8yx482idav52y/glpfbo6tkTY/ii0whlcl2dxv/Create_Performance_Task_Rubric_Nov2015.pdf">
--><a href="http://bjc.berkeley.edu/Create_Performance_Task_Rubric_DRAFTPILOT_JUNE2016.pdf">Rubric</a></li></ul></li>
            <li><a
                    href="https://apcommunity.collegeboard.org/documents/44665407/2cc07b15-80c9-4322-adf1-805b5a3ac400">pseudocode
                Reference Sheet</a></li>
        </ul>
    </li>
</ul>

<a class="anchor" id="bjc-ap"></a>
<h3>College Board BJC endorsement documents</h3>
<ul>
    <li><a href="https://drive.google.com/file/d/0B1svvUUQcqe4OW41RkViRHNSaVk/view?usp=sharing">Overview of Curriculum</a></li>
    <li><a href="https://d1b10bmlvqabco.cloudfront.net/attach/in7o0y6h22k74p/i87h6ino25s1jp/inlu1lf1bdxo/BJC_Syllabus_Final_20160422_FinalRevision.pdf">Syllabus</a></li>
    <li><a href="https://drive.google.com/file/d/0B1svvUUQcqe4TkhGUTJMNmxtME0/view?usp=sharing">Outline of Units</a></li>
    <li><a href="https://drive.google.com/file/d/0B1svvUUQcqe4QWVtbEl3QThqSVU/view?usp=sharing">Mapping of Units to CSP Framework</a></li>
    <li><a href="https://drive.google.com/file/d/0B1svvUUQcqe4YUM2TVYzXy0wOTA/view?usp=sharing">Professional Development standards</a></li>
    <li><a href="http://bjc.berkeley.edu/BJC4NYC Teacher and Student Content Assessment-Form 1.pdf">sample content assessment, Form 1</a></li>
    <li><a href="http://bjc.berkeley.edu/BJC4NYC Teacher and Student Content Assessment-Form 2.pdf">sample content assessment, Form 2</a></li>
</ul>
{% endcapture %}
{% include section.html %}

{% capture section_content %}
<a class="anchor" id="snap"></a>
<h3>About Snap<i>!</i></h3>

<div class="row">
    <div class="col-xs-12 col-sm-8">
        Snap<i>!</i> is a visual programming language based on
        <a href="http://scratch.mit.edu">Scratch</a> (MIT Media Lab), but
        <a href="http://bjc.berkeley.edu/website/compare.html#visual">extended</a>
        to support more advanced computer science ideas, especially
        recursion and functional programming.
    </div>
    <div class="col-sm-4 hidden-xs">
        <img src="{{ site.baseurl }}/img/snap_logo.png" class="img-responsive" />
    </div>
</div>

<h3>Snap<i>!</i> Links</h3>

<ul>
    <li><a href="http://snap.berkeley.edu">Snap<em>!</em> home page</a>

    <li><a href="http://byob.berkeley.edu/SnapManual.pdf">Snap<em>!</em> 4.0 manual</a>

    <li><a href="http://snap.berkeley.edu/run">run Snap<em>!</em> live</a>

    <li><strong>Snap<i>!</i> projects:</strong>
        <ul>
            <li><a href="http://snap.berkeley.edu/snapsource/snap.html#present:Username=bh&ProjectName=vee">Vee</a></li>
            <li><a href="http://snap.berkeley.edu/snapsource/snap.html#open:http://snap.berkeley.edu/snapsource/demo/treedemo.xml">tree
                demo</a>
            <li><a href="http://snap.berkeley.edu/snapsource/snap.html#open:http://snap.berkeley.edu/snapsource/demo/live-tree.xml">live tree</a></li>
            <li><a href="http://snap.berkeley.edu/snapsource/snap.html#open:http://snap.berkeley.edu/snapsource/demo/palindrome.xml">palindrome
                exercise</a>
            <li><a href="http://snap.berkeley.edu/snapsource/snap.html#open:http://snap.berkeley.edu/snapsource/demo/count-change.xml">count-change</a>
        </ul></li>
    <li><a href="https://github.com/jmoenig/Snap--Build-Your-Own-Blocks/issues">report
        a Snap<em>!</em> bug</li>
</ul>
{% endcapture %}
{% include section.html %}