<div class="circle-frame">
  <span class="vcenter"></span>
  <img
    src="{{ site.baseurl }}/assets/img/partners/snap.png"
    alt="snap! logo"
    class="vcenter"
  />
</div>

<h3 class="text-center">Snap! Programming Language</h3>
<p><a href="http://snap.berkeley.edu/">Snap<em>!</em></a> (formerly BYOB) is a visual, drag-and-drop programming language.  It is an extended reimplementation of <a href="http://scratch.mit.edu/" target="_blank">Scratch</a> (a project of the Lifelong Kindergarten Group at the MIT Media Lab) that allows you to Build Your Own Blocks. It also features first class lists, first class procedures, and continuations.  These added capabilities make it suitable for a serious introduction to computer science for high school or college students.</p>