<div class="circle-frame">
  <img
    src="{{ site.baseurl }}/assets/img/pd18-claremont.jpg"
    alt=""
    aria-hidden="true"
  />
</div>

<h2 class="text-center">
    Professional Development
    <br>
    <small class="text-center">2024 PD</small>
</h2>


<!--suit-and-tie-icon.png-->

<!-- <p>If you are interested in attending Summer 2021 PD, please leave us your information on <a href="https://bjc.link/BJCinterest2020">our Summer 2020 PD interest form</a> so we can notify you when more details are available!</p> -->

<p>If you are ready to <em>apply</em> to BJC Summer 2024 PD, please apply on our <a href='https://bjc.berkeley.edu/summer-pd/'>Summer PD 2024 page</a>!</p>


<p>

<!--
<p>We are now accepting applications for our 2019 Summmer PD through May 15, 2019.</p>
<p>Learn about our PD and apply here: <a href="{{ site.baseurl }}/summer-pd/">
  2018 BJC and PD Informational Flyer</a></p>
  </a>
<!-- <p>Thanks for a great summer 2018!
  We'll have more updates about 2019 as we get closer to the summer.</p>
<p>Sign up on our interest list for summer 2019 PD here: <a href="http://bjc.link/pdinterest19">http://bjc.link/pdinterest19</a></p>
<!-- <h4 class="text-center">
  <a href="{{ site.baseurl }}/documents/2018/bjc-pd-2018-flyer.pdf">
    2018 BJC and PD Informational Flyer
  </a>
</h4>

<h4 class="small">Pathfinders Institute July 15-20, 2018</h4>
<p>
  BJC will offer free computer science professional development at the Indiana University Bloomington campus July 15-20, 2018 for up to 80 high school teachers with generous support from Infosys Foundation. See the <a href="https://www.infosys.org/infosys-foundation-usa/media/press/Pages/free-cs-training-800-teachers-summer2018.aspx">Pathfinders Institute announcement</a> for more info.
</p> -->
