<div class="circle-frame">
  <img src="{{ site.baseurl }}/assets/img/blown-to-bits.png"
    alt="blown to bits book" class="shrink-height" />
</div>

<h2 class="text-center">Textbook on Social Implications</h2>
<p>In the non-programming part of our course we try to balance a fundamental optimism about the future of computer technology with an understanding of its limitations and potential for harm. Student readings are taken mainly from the excellent textbook <a href="http://www.bitsbook.com/" target="_blank"><i>Blown to Bits,</i></a> which is available for free online download.</p>
