---
layout: page
---

{% capture section_content %}
<div class="text-center">
    <p class="lead">
        <em>This page describes the PD opportunities for all teachers outside of New York City. NYC Teachers, please visit the
            <a href="{{ site.nyc_pd_page }}/" target="_blank">NYC PD Opportunities</a> page.</em>
    </p>
</div>
{% endcapture %}

{% include section.html %}

{% capture section_content %}
<div class="row">
    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked internal-links-nav">
            <li role="presentation">
                <a href="{{ site.baseurl }}/pd-3-weeks">
                  <div class="hover-accent">About</div>
               </a>
            </li>
            <!-- <li role="presentation">
                <a href="{{ site.baseurl }}/pd-3-weeks/eligibility"><div class="hover-accent">Eligibility</div></a>
            </li> -->
            <!-- <li role="presentation">
                <a href="{{ site.baseurl }}/pd-3-weeks/cost"><div class="hover-accent">Cost, Stipends and Support</div></a> -->
            </li>
            <!-- <li role="presentation">
                <a href="{{ site.baseurl }}/pd-3-weeks/apply">
                  <div class="hover-accent">Apply to BJC PD</div>
                </a>
            </li> -->
            <!-- <li role="presentation">
                <a href="{{ site.baseurl }}/pd-3-weeks/resources"><div class="hover-accent">Workshop Resources</div></a>
            </li> -->
            <li role="presentation">
                <a href="{{ site.baseurl }}/pd-3-weeks/coordinators"><div class="hover-accent">PD Coordinators</div></a>
            </li>
        </ul>
    </div>

    <div class="col-sm-10">
        {{ content }}
    </div>
</div>
{% endcapture %}
{% include section.html %}
