---
layout: page
---

{% capture section_content %}
<div class="text-center">
    <p>
        <em>This page describes the six-week workshop model. In 2016 this model applies only in New York City.
            <a href="{{ site.baseurl }}/pd-3-weeks">Click here for the three-week model.</a></em>
    </p>
</div>
{% endcapture %}
{% include section.html %}

{% capture section_content %}
<div class="row">
    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked internal-links-nav">
            <li role="presentation">
                <a href="{{ site.baseurl }}/pd-6-weeks"><div class="hover-accent">About</div></a>
            </li>
            <li role="presentation">
                <a href="{{ site.baseurl }}/pd-6-weeks/resources"><div class="hover-accent">Workshop Resources</div></a>
            </li>
        </ul>
    </div>

    <div class="col-sm-10">
        {{ content }}
    </div>
</div>
{% endcapture %}
{% include section.html %}