---
layout: page
---
{% capture section_content %}
<div class="row">
    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked internal-links-nav">
            <li role="presentation">
                <a href="{{ site.baseurl }}/team/leadership"><div class="hover-accent">BJC Leadership</div></a>
            </li>
            <li role="presentation">
                <a href="{{ site.baseurl }}/team/edc"><div class="hover-accent">EDC</div></a>
            </li>
            <li role="presentation">
                <a href="{{ site.baseurl }}/team/edx"><div class="hover-accent">edX Development</div></a>
            </li>
            <li role="presentation">
                <a href="{{ site.baseurl }}/team/master-teachers"><div class="hover-accent">Master Teachers</div></a>
            </li>
            <li role="presentation">
                <a href="{{ site.baseurl }}/team/snap"><div class="hover-accent">Snap<em>!</em> Development</div></a>
            </li>
        </ul>
    </div>

    <div class="col-sm-10">
        {{ content }}
    </div>
</div>
{% endcapture %}
{% include section.html %}