body {
  padding: 0;
  margin-top: 50px; }

h1, h2, h3, h4, h5, h6, th {
  font-family: "Raleway", sans-serif;
  font-weight: 900; }

a, p, li, td {
  font-weight: lighter;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5em; }

.section p {
  text-indent: 1em; }

th, td {
  padding: .25em 1em; }

th {
  background-color: #2980b9; }

li {
  list-style: none; }

li:before {
  /*Using a Bootstrap glyphicon as the bullet point*/
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  font-size: 9px;
  float: left;
  margin-right: 1.5em;
  color: #2980b9; }

.list-unstyled li:before {
  content: none; }

.page-header {
  display: inline-block;
  border-bottom-width: 5px;
  border-bottom-color: #516db1; }

a {
  color: #2980b9; }

a:hover {
  color: #41ABF2; }

.btn-extra-large {
  font-size: 1.2em; }

.btn.btn-primary {
  box-shadow: none;
  border: none;
  background-color: #2980b9; }
  .btn.btn-primary:hover {
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    background-color: #41ABF2; }

.navbar-inverse {
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
  border: none; }
  .navbar-inverse .navbar-brand {
    color: white;
    font-family: "Raleway", sans-serif; }
    .navbar-inverse .navbar-brand img {
      max-height: 1.5em;
      margin-right: .5em; }
  .navbar-inverse .navbar-collapse ul li a {
    color: white; }
    .navbar-inverse .navbar-collapse ul li a:hover {
      color: #41ABF2; }
  .navbar-inverse .trapezoid {
    border-top: 12px solid #2c3e50; }

.jumbotron {
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
  background-image: url("/website/images/bjc_pattern_alt.png");
  background-size: 400px;
  background-attachment: fixed;
  border: none;
  box-shadow: none; }
  .jumbotron .container {
    padding: 2em;
    color: white;
    margin-left: 1em;
    text-align: left;
    padding: none; }
    .jumbotron .container h3 {
      font-size: 3.5em;
      text-transform: uppercase;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075); }

#use-devices-with-snap {
  background-color: white;
  background-image: url("/website/images/finch-robot.jpg");
  background-repeat: no-repeat;
  background-position: 100% 115%; }
  #use-devices-with-snap .trapezoid {
    border-top: 12px solid white; }

#snap-intro {
  color: white;
  background-image: url("/website/images/snap-screen.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  #snap-intro .trapezoid {
    border-top-color: #333; }

#snap .jumbotron {
  background-image: url("/website/images/snap_pattern.png"); }
  #snap .jumbotron .container {
    padding-top: 5em;
    padding-bottom: 5em; }
  #snap .jumbotron .trapezoid {
    border-top-color: #d6a62c; }
  #snap .jumbotron h3, #snap .jumbotron p {
    text-align: center; }
  #snap .jumbotron .btn {
    margin-top: 1.5em; }
#snap .page-header {
  border-bottom-color: #d6a62c; }
#snap footer {
  background-color: #d6a62c;
  color: white; }

.trapezoid {
  position: relative;
  top: 12px;
  margin-left: 40px;
  border-top: 12px solid #516db1;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  height: 0;
  width: 64px;
  z-index: 100; }

.section {
  padding: 0;
  color: #2c3e50; }
  .section:nth-child(even) {
    background-color: #f5f9fA; }
    .section:nth-child(even) .trapezoid {
      border-top: 12px solid #f5f9fA; }
  .section:nth-child(odd) {
    background-color: #ecf0f1; }
    .section:nth-child(odd) .trapezoid {
      border-top: 12px solid #ecf0f1; }

.section.section-inverted {
  background-color: #516db1; }

.section-container {
  max-width: 900px;
  padding: 4em 2em;
  margin-right: auto;
  margin-left: auto; }

.section-breadcrumb {
  padding: 0;
  background-color: #D1DBDE; }
  .section-breadcrumb .breadcrumb {
    margin: 0;
    margin-top: 1.5em;
    border-radius: 0;
    background-color: transparent; }
  .section-breadcrumb .trapezoid {
    border-top: 12px solid #D1DBDE; }

.vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle; }

.thumbnail {
  padding: 0;
  border: none;
  border-radius: 5px; }
  .thumbnail .img-container {
    padding: 1.5em; }

.caption {
  background-color: #2c3e50; }
  .caption .project-title {
    color: #516db1; }
  .caption .project-description {
    color: #f5f9fA; }

#bjc-logo {
  display: block;
  max-width: 80%;
  max-height: auto;
  margin-bottom: 2em;
  margin-right: auto;
  margin-left: auto; }

#using_snap {
  text-align: center;
  padding: 0;
  overflow: hidden; }
  #using_snap img {
    max-width: 100%; }

footer {
  margin: 0;
  background-color: #516db1; }
  footer .container {
    padding: 1em; }

@media only screen and (max-width: 800px) {
  .page-header {
    text-indent: 0em; }

  #use-devices-with-snap {
    background-image: url("/website/images/finch-robot-blurred.jpg");
    -webkit-transition: background-image 0.4s ease-in-out;
    -moz-transition: background-image 0.4s ease-in-out;
    -ms-transition: background-image 0.4s ease-in-out;
    -o-transition: background-image 0.4s ease-in-out;
    transition: background-image 0.4s ease-in-out; } }
@media only screen and (max-width: 500px) {
  .jumbotron .container h3 {
    font-size: 1.5em; }

  .navbar-brand span {
    display: none; }

  #use-devices-with-snap {
    background-position: 0% 115%; } }

/*# sourceMappingURL=styles.css.map */
